@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 edit="Title">Test Title</h1>
<br/>
<h1 edit="About">About Section</h1>
<br />
<h1 edit="CompanyAddress">Company Address</h1>
<br />
<h1 edit="OpenTimes">OpenTimes</h1>
<br />
<h1 edit="MiscSection">Misc</h1>

<p>Tities
    </p>


<h1 edit="OpenTimes">OpenTimes</h1>

<h1 edit="Titletester2">Test Title 22</h1>

@Html.Partial("partial")

